Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
config.log
.deps/
*.in
Makefile
*.o
config.status
watchman
arcanist/.phutil_module_cache
*.swp
compile
stamp-h1
config.h*
thirdparty/jansson/jansson_config.h
compile
tests/*.t
.dirstamp
*.a
tests/integration/.watchman.*
*.rpm
config.sub
config.guess
