version: b{build}

os: Visual Studio 2015

branches:
  except:
    - gh-pages

install:
  - cinst -y php

build_script:
  - make

after_build:
  - make dist

test_script:
  - PATH=C:\tools\php;%PATH%
  - "cd node && npm install"
  - make integration

artifacts:
  - path: Watchman
    name: watchman
    type: zip

environment:
  matrix:
    - WATCHMAN_WIN7_COMPAT: 1
    - WATCHMAN_WIN7_COMPAT:

platform:
  - x64
